SqlData/PTC-Pluralsight.ldf
SqlData/PTC-Pluralsight.mdf
SqlData/PTC-Pluralsight.sql
PTCApi/obj/Debug/netcoreapp2.1/PTCApi.csprojAssemblyReference.cache
PTCApi/obj/Debug/netcoreapp2.1/PTCApi.assets.cache
